@import "tailwindcss";

:root {
  --background: #00204a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Local fonts */
@font-face {
  font-family: "IRANSansWebFaNum";
  src: url("/fonts/IRANSansWeb(FaNum).woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lalezar";
  src: url("/fonts/Lalezar-Regular a4fran3.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IRANSansWebFaNum", Arial, Helvetica, sans-serif;
}
